# Ignore virtual environment
venv/
*.venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore specific IDE files
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore the README.md file if you're going to resolve the conflict later
README.md
